@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    @apply text-primaryDark;
    background-color: #fefce8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    @apply font-bold text-primaryDark;
  }
  /* apply to all text inputs/textarea ... EXCEPT ones marked .combo-input */
  input[type="text"]:not(.combo-input),
  textarea:not(.combo-input) {
    @apply block w-full rounded-lg border-gray-300 py-1.5 shadow-sm ring-0 placeholder:text-gray-400 focus:border-primaryRed focus:ring-0;
  }
  .event-grid {
    display: grid;
    justify-content: space-around;
  }
  /* .event-card {
    width: 400px;
  }  */
  .event-details {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
  }
}
